src/.vs/
bin/
obj/
*.fits
*.fit
src/.idea/
src/*/Resources
launchSettings.json
src/WatneyAstrometry.SolverApp/watney-solve-config.yml
perftest/
publishing/
builds/binaries/
builds/cli/binaries/
builds/api/binaries
src/WatneyAstrometry.WebApi/config.yml
src/WatneyAstrometry.WebApi/apidoc.xml
benchmarking/blind.csv
benchmarking/results
benchmarking/testimages/
